.top {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 999;
  font-family: "Josefin Sans", sans-serif;
  z-index: 1;
}
.hamburger{
  z-index: 100;
  display: none;
}
.top-nav {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 999;
  font-family: "Josefin Sans", sans-serif;
}


.topLeft,
.topRight {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topIcon {
  font-size: 20px;
  margin-right: 10px;
  color: #444;
  cursor: pointer;
}

.topCenter {
  flex: 6;
}

.topList {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.topListItem {
  margin-right: 20px;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  padding: 5px 5px;
}

.topListItem:hover{
    color: gray;
    background-color: grey;
    color:white;
  

}

.topImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 15px;
  cursor: pointer;
}

.topSearchIcon {
  font-size: 18px;
  color: #666;
  cursor: pointer;
}
.hide-shadow{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 960px){

  .top{
    position: fixed;
    
  }
  .top-nav{
    /* display: none; */
    flex-direction: column-reverse;
    position: absolute;
    background-color: #fff;
    right: -100%;
    top: 0px;
    right: 0px;
    height: 100vh;
    width: 70%;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 40px;
    padding-top: 30px;
  }
  .navActive{
    right: 0px;
    width: 70%;
  }
  .hide-shadow{
    background-color:unset;
    right: -100%;
    position: fixed;
    transition: all .3s;
   
  }
  .show-shadow{
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgba(0,0,0,.8);
    width: 100%;
    height: 100vh;
    transition: all .3s;
  }

 
  .hamburger{
    position: absolute;
    display: block;
    top: 20px;
    right: 20px;
    z-index: 1000;
  }
  /* .shadow{
        background-color: rgba(0,0,0,.8);
        width: 100%;
        height: 100vh;

  } */
  .topCenter{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    flex: 0;
  }
  .topList{
    flex-direction: column;
    gap: 20px;

  }
  .topLeft{
    margin-right: 100px;
    flex: 0;
  }
  .topRight{
    margin-right: 100px;
    flex: 0;
  }
}