.header {
  margin-top: 60px;
  background-image: url("https://images.pexels.com/photos/64769/pexels-photo-64769.jpeg");
  background-position: center;
  background-size: cover;
  height: 80vh;
}

.headerTitles {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lora", serif;
  color: #000;
  /* position: absolute; */
 padding-top: 50px;
}

.headerTitleSm {
  
  font-size: 40px;
  font-weight: 400;
  
}

.headerTitleLg {

  font-weight: 500;
  font-size: 120px;
}

.headerImg {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}
